:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);    
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
}

.container-card{
    display: grid;
    place-items: center;
    background-color: var(--Pale-blue);
    width: 100%;
    height: 100vh;
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom 46vh right 0vw, top 0vh left 48.05vw;
}

.card{
    display: grid;
    justify-content: center;
    width: 340px;
    border-radius: 20px;
    background-color: var(--White);
    text-align: center;
    box-shadow: 0 20px 20px -6px hsl(224, 65%, 85%);
}

.img-hero{
    width: 340px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.title-card{
    color: var(--Dark-blue);
    font-size: 20px;
    margin-top: 25px;
    font-weight: 900;
}

.description-card{
    color: var(--Desaturated-blue);
    font-size: 13px;
    margin-top: 15px;
    padding: 0 50px 0;
    line-height: 1.5;
}

.plan-container{
    padding: 0 30px 0;
}

.plan-content{
    background-color: var(--Very-pale-blue);
    border-radius: 8px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 13px;
}

.plan{
    margin-left: -66px;
}

.icon-music{
    width: 35px;
    object-fit: cover;
    margin-left: 5px;
}

.name-plan{
    color: var(--Dark-blue);
    font-weight: 900;
    margin-bottom: 3px;
}

.amount-plan{
    color: var(--Desaturated-blue);
}

.name-plan, .amount-plan{
    font-size: 13px;
}

.change{
    color: var(--Bright-blue);
    font-weight: 900;
    font-size: 10px;
}

.change:hover{
    color: hsl(245, 74%, 67%);
    cursor: pointer;
    text-decoration: none;
}

.payment-process{
    margin-top: 25px;
    font-size: 13px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: column;
    padding: 0px 30px;
}

.payment-process .pay{
    background-color: var(--Bright-blue);
    color: var(--White);
    padding: 15px 75px;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 0 20px 20px -3px hsl(233, 14%, 89%);
}

.payment-process .pay, .cancel{
    cursor: pointer;
    text-decoration: none;
}

.payment-process .pay:hover{
    background-color: hsl(245, 74%, 67%);
}

.payment-process .cancel{
    margin-top: 25px;
    color: var(--Desaturated-blue);
    font-weight: 700;
}

.payment-process .cancel:hover{
    color: var(--Dark-blue);
}

@media(max-width: 350px){
    .container-card{
        background-image: url('./images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-position: none;
    }

    .card{
        width: 320px;
    }

    .img-hero{
        object-fit: cover;
        width: 320px;
    }

    .description-card{
        padding: 0 50px 0;
    }

    .plan-container{
        padding: 0 25px 0;
    }

    .payment-process .pay{
        padding: 15px 50px;
    }
}

@media(min-width: 1433px){
    .container-card{
        background-position: bottom 50vh right 0vw, left 48.05vw;
        background-size: contain;
    }
}